<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="root">

</div>

<script>
    const getEmployees = () =>
        fetch('{% url "api list employees" %}')
            .then(response => response.json());

    const renderEmployeesList = (employees) => {
        const employeeItems = employees.map(employee => `
            <li>${employee.name} in ${employee.department.name}</li>
        `);

        return `<ul>${employeeItems.join(' ')}</ul>`
    };

    window.onload = () => {
        getEmployees()
            .then(employees => {
                document.querySelector('#root').innerHTML =
                    renderEmployeesList(employees);
            });
    };
</script>

</body>
</html>